body{background-color: #fafafa;}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#loginBox{
    width:350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem 0;
    border: 1px solid #dbdbdb;
}
#loginBox img{
    width:170px;
    margin-bottom: 30px;
}
#loginBox input, #loginBox button{
    width: 250px;
    margin: 4px 0;
    padding: 10px;
    font-size: 13px;
    background-color: #f0f0f0;
    border-radius: 5px;
    color: #333;
    border: 1px solid #dbdbdb;
}

#loginBox button{
    background-color: #0094f69f;
    color:#fff;
    font-weight: 900;
    border:none;
    margin-top: 10px;
}

#loginBox a{
    color :#00376b;
    font-size: 13px;
    margin-top: 50px;
}

